.wrapper {
	position: relative;
	font-size: 15vw;
	height: 1em;
	width: 1em;
	margin: 0.2em auto;
	background: url(Assets/images/cut_socket.svg) center / contain no-repeat, #111;
	border-radius: 100%
}
	.wrapper:before {
		content: "";
		font-size: 0.8em;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: block;
		height: 1em;
		width: 1em;
		background-color: #000;
		border-radius: 100%;
		box-shadow: inset 0 0 0.3em 0.3em #101010;
	}
	.container {
		position: relative;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
		.input {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			background-color: transparent;
			height: 0;
			width: 0;
			overflow: hidden;
		}