.wrapper {
	font-size: 20vw;
	display: flex;
	height: 1em;
	width: 1em;
	justify-content: center;
	align-items: center;
	background: url(Assets/images/cut_socket.svg) center / contain no-repeat, #111;
	border-radius: 100%
}
	.input {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background-color: transparent;
		height: 0;
		width: 0;
		overflow: hidden;
	}