.wrapper {
	position: fixed;
	top: 0;
	left: 0;	
	font-size: 200vh;
	height: 1em;
	width: 1em;
	z-index: 3;
}
	.visible {
		transition: transform 1s;
		transform: translateX(0%) translateY(0%);
	}
	.hidden {
		transition: transform 1s .3s;
		transform: translateX(-100%) translateY(-100%);
	}

	/* INNER WHEEL
	///////////////////////////*/
	.wheel {
		height: 100%;
		width: 100%;
		position: absolute;
		top: -0.5em;
		left: -0.5em;
		background-color: #efefef;
		border-radius: 200%;
	}
		.wheel:after {
			content: "";
			display: block;
			height: 103%;
			width: 103%;
			position: absolute;
			top: -1.5%;
			left: -1.5%;
			border-radius: 100%;
			border: 2px solid #999;
		}
	.hidden .wheel {
		transform: rotate(90deg);
		transition: transform .6s;
	}
	.visible .wheel {
		transform: rotate(0deg);
		transition: transform 1s .6s;
	}

		/* CLOSE BUTTON 
		////////////////////////////*/
		.closeButton {
			position: absolute;
			top: 50%;
			left: 100%;
			margin: 1em auto auto 1em;
			padding: 1em;
			z-index: 2;
		}
			.closeButton:hover {
				cursor: pointer;
			}

		/* COLOURS */
		.colours {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
		}
			.colourWrapper {
				position: absolute;
				height: 50%;
				font-size: 50px;
				width: 1em;
				transform-origin: center bottom;
				transition: transform .3s;
			}
				.colour {
					top: 0.25em;
					left: 0;
					height: 2em;
					width: 2em;
					position: absolute;
					border-radius: 100%;
					border: 0.1em solid rgba(255,255,255,0.1);
					overflow: hidden;
					box-shadow: 0 0.25em 0.2em rgba(0,0,0,0.1);
				}
					.colour:after {
						content: "";
						display: block;
						font-size: 0.5em;
						height: 70%;
						width:  70%;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translateX(-50%) translateY(-50%);
						background-image: url("/client/assets/images/hexagonal.svg");
						background-size: 100% 100%;
						opacity: 0.1;
					}