.wrapper {
	position: relative;
	font-size: 33vh;
	--envelope-height: 1em;
	--envelope-width: 1.618em;
	height: var(--envelope-height);
	width: var(--envelope-width);
	background-color: #666;
}
.wrapper:hover {
	cursor: pointer;
}
	.content {
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		font-size: 0.25em;
		color: #FFF;
		text-align: center;
	}
	.folds {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
		.fold {
			position: absolute;
		}
			.shape {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				overflow: hidden;
			}
		.fold.topFlap {
			top: -1px;
			height: calc(var(--envelope-height) * 0.8);
			width: var(--envelope-width);
			z-index: 4;
		}
			.topFlap .shape {
				transform: translateY(-100%);
			}
				.topFlap .polygon {
					fill: #EEE;
				}
		.fold.bottomFlap {
			bottom: 0;
			z-index: 3;
			height: calc(var(--envelope-height) * 0.7);
			width: var(--envelope-width);
		}
			.bottomFlap .shape {
				transform: translateY(100%);
			}
				.bottomFlap .polygon {
					fill: #CCC;
				}
		.fold.sideFlap {
			top: 0;
			height: var(--envelope-height);
			width: calc(var(--envelope-width) * 0.51);
		}
		.fold.sideFlap.left {
			left: 0;
			z-index: 1;
		}
			.sideFlap.left .shape {
				transform: translateX(-100%);	
			}
				.sideFlap.right .polygon {
					fill: #AAA;
				}
		.fold.sideFlap.right {
			right: 0;
			z-index: 2;
		}
			.sideFlap.right .shape {
				transform: translateX(100%);
			}
				.sideFlap.left .polygon {
					fill: #888;
				}
		
	
/* ANIMATIONS
-------------------------------*/

.topFlap, .bottomFlap {
	transform: rotateX(180deg);
}
.sideFlap.left, .sideFlap.right {
	transform: rotateY(180deg);
}

.wrapper:hover .topFlap,
.wrapper:hover .bottomFlap {
	transform: rotateX(0deg);
}
.wrapper:hover .sideFlap.left,
.wrapper:hover .sideFlap.right {
	transform: rotateY(0deg);
}

/*folding///////*/
.fold {
	--fold-time: 0.15s;
	transition-property: transform;
	transition-duration: var(--fold-time);
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.topFlap {
	transform-origin: 50% 0;
	transition-delay: calc(var(--fold-time) * 1.5)
}
.bottomFlap {
	transform-origin: 50% 101%;
	transition-delay: calc(var(--fold-time) * 1)
}
.sideFlap.right {
	transform-origin: 100% 50%;
	transition-delay: calc(var(--fold-time) * 0.5)
}
.sideFlap.left {
	transform-origin: 0 50%;
	transition-delay: calc(var(--fold-time) * 0)
}

/*unfolding///////*/
.wrapper:hover .fold {
	--fold-time: 0.3s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.wrapper:hover .sideFlap.left {
	transition-delay: calc(var(--fold-time) * 1.5)
}
.wrapper:hover .sideFlap.right {
	transition-delay: calc(var(--fold-time) * 1)
}
.wrapper:hover .bottomFlap {
	transition-delay: calc(var(--fold-time) * 0.5)
}
.wrapper:hover .topFlap {
	transition-delay: calc(var(--fold-time) * 0)
}
