.wrapper {}	
	.container {
		pointer-events: none
	}
		.gem {
			font-size: 0.8em;
			display: flex;
			height: 1em;
			width: 1em;
			justify-content: center;
			align-items: center;
			border-radius: 100%;
			border: 0.05em solid rgba(255,255,255,0.1);
			transition: transform .3s, box-shadow .3s;
			box-shadow: 0 0 0.01em 0.005em rgba(0,0,0,0.8)
		}
			.gem:after {
				content: "";
				display: block;
				font-size: 0.7em;
				height: 1em;
				width:  1em;
				opacity: 0.1;
				background-image: url("Assets/images/hexagonal.svg");
				background-size: 100% 100%;
			}
			.wrapper.resting .gem{
				position: relative;
				transform: scale(1);
			}
			.wrapper:hover .gem{
				cursor: pointer;
				transform: scale(1.1);
				box-shadow: 0 0 0.1em 0.1em rgba(0,0,0,0.05)
			}
			.wrapper.dragging .gem{
				transform: scale(1.5);
			}