.wrapper {
	display: inline-flex;
	flex: 1 0 auto;
}
	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0.5em auto;
	}
		.sample {
			display: block;
			position: relative;
			height: 1em;
			width: 1em;
			border-radius: 100%;
			transition: background-color .3s, filter .3s .3s, opacity .3s .3s;
		}
			.sample:after {
				content: "";
				display: block;
				height: 110%;
				width: 110%;
				position: absolute;
				top: calc(-5% - 1px);
				left: calc(-5% - 1px);
				transform: scale(0);
				transition: transform .3s;
				border: 1px solid #ccc;
				border-radius: 100%;
				z-index: -1;
			}
			.sample:hover {
				cursor: pointer;
			}
			.sample:hover:after {
				transform: scale(1.2);
			}
	