.wrapper {
	display: inline-flex;
	flex: 1 0 auto;
}
	.container {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin: 0.5em auto;
	}
		.sample {
			display: block;
			height: 1em;
			width: 1em;
			border-radius: 100%;
			transition: background-color .3s;
		}
	