.wrapper {
	display: flex;
	justify-content: space-between;
}
	.label {
		width: 6em;
		text-transform: capitalize;
	}
	.meter {
		flex: 1 0 auto;
	}
		.meter.morale {}
		.meter.companions {}
		.meter.supplies {}