.wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
	width: 80vw;
	margin: auto;
}
	.example {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 10vh;
	}
		.example p {
			margin-top: 2em;
		}
		.example.source {
			background-color: #ddd;
		}